<div class="wrapper">
  <div class="cm-content-center search-movie fade-in">
    <div class="logo-wrapper">
      <a href="#/" class="logo" title="Go to homepage">
        <img src="/assets/images/logo.png" alt="cinematic"/>
      </a>
    </div>

      <div id="flash" class="fade-in" ng-cloak>
          <span class="content"></span>
      </div>

    <h1 class="page-title">Get similar <span class="special">movies</span></h1>

    <button class="cm-btn cm-btn-red clear-search fade-in" ng-show="results" ng-click="clearAll()">Clear <i class="fa fa-times"></i></button>

    <section class="search">
      <div class="search-form">
        <p class="subtitle">Step 1: Enter a movie you like</p>
        <form class="search-bar" role="search">
          <input type="search" ng-model="searchString" placeholder="e.g. Avatar, Die Hard, Jurassic Park" required autofocus />
          <button type="submit" ng-click="searchMovie()">
            <i class="fa" ng-class="searchingMovies ? 'fa-cog fa-spin' : 'fa-search'"></i>
          </button>
        </form>
      </div>

      <div class="results fade-in" ng-show="results">
        <p class="subtitle">Step 2: Select the correct result</p>
        <div id="results" ng-show="results">
          <span ng-hide="movies.length">No movies found !</span>
          <article class="movie movie-result" data-id="{{ movie.id }}" ng-click="getSimilarMovies(movie.id, movie.title)" ng-repeat="movie in movies | limitTo:6" ng-class="isActive(movie.id) ? 'active' : 'inactive'">
            <div class="search-poster">
              <img ng-if="movie.poster_path" ng-src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{movie.title}}"><br />
            </div>
            <span class="search-title">{{ movie.title }}</span>
          </article>
        </div>
      </div>
    </section>

    <section class="similar" ng-show="similarMovies.results">
      <p class="subtitle">If you enjoyed {{ selectedMovie.title }}, you might also like...</p>
      <div class="movies-similar">
        <article class="movie" ng-repeat="movie in similarMovies.results  | limitTo:12" data-id="{{movie.id}}">
            <div class="search-poster" ng-click="getMovieDetail(movie.id)">
              <img ng-if="movie.poster_path" ng-src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}" alt="{{movie.title}}"><br />
            </div>
            <span class="search-title">{{ movie.title }}</span>
        </article>
      </div>
      <div class="empty-text fade-in" ng-show="selectedMovie.id && !similarMovies.results.length">
        <i class="fa fa-4x fa-frown-o"></i>
        <p>No similar movies found</p>
      </div>
    </section>

    <div class="empty-text fade-in" ng-show="searching">
      <i class="fa fa-3x fa-cog fa-spin"></i>
      <p>Fetching data...</p>
    </div>
  </div>

  <div id="modal" class="modal fade-in">
    <div class="modal-fade-screen">
      <div class="modal-inner movie-detail">
        <div class="modal-close" for="modal"></div>
        <div class="details" ng-show="data.movieDetail.basic" ng-cloak>
          <h2 class="title">{{ data.movieDetail.basic.title }}</h2>
          <ul class="metadata">
            <li class="metadata-single"><span class="title">Score</span> {{ data.movieDetail.basic.vote_average }}</li>
            <li class="metadata-single"><span class="title">Year</span> {{ data.movieDetail.basic.release_date | limitTo:4 }}</li>
            <li class="metadata-single"><span class="title">Runtime</span> {{ data.movieDetail.basic.runtime }} minutes</li>
            <li class="metadata-single"><span class="title">Genres</span> <span class="genre" ng-repeat="genre in data.movieDetail.basic.genres">{{ genre.name }}</span></li>
          </ul>
          <div class="details-left">
            <img class="poster" ng-if="data.movieDetail.basic.poster_path" ng-src="https://image.tmdb.org/t/p/w300{{ data.movieDetail.basic.poster_path }}" alt="{{ data.movieDetail.basic.title }}">
          </div>
          <div class="details-right">
            <h5 class="tagline">{{ data.movieDetail.basic.tagline }}</h5>
            <p class="synopsis"> {{ data.movieDetail.basic.overview }}</p>
            <p ng-hide="data.movieDetail.basic.overview">No synopsis available</p>
            <span class="subtitle">Cast</span>
            <ul class="actors">
              <li class="actor" ng-repeat="actor in data.movieDetail.credits.cast | limitTo:4">
                <div class="image">
                  <img ng-if="actor.profile_path" ng-src="https://image.tmdb.org/t/p/w45{{ actor.profile_path }}" alt="{{ actor.name }}">
                </div>
                <div class="name-wrapper">
                  <span class="name">{{ actor.name }}</span> <br />
                  as {{ actor.character }}
                </div>
              </li>
            </ul>
            <span class="subtitle">Links</span>
            <ul class="links">
              <li ng-if="data.movieDetail.trailers.youtube.length"><a href="https://www.youtube.com/watch?v={{ data.movieDetail.trailers.youtube[0].source }}" target="_blank"><i class="fa fa-fw fa-youtube-play"></i> Trailer</a></li>
              <li><a href="http://www.imdb.com/title/{{ data.movieDetail.basic.imdb_id }}" target="_blank"><i class="fa fa-fw fa-external-link"></i> IMDB</a></li>
            </ul>
              <div ng-show="isUserLoggedIn()">
                  <span class="subtitle">Lists</span>
                  <ul class="links">
                      <li><a class="link add-item" href="javascript:void(0)" ng-cloak ng-hide="data.movieDetail.watchlist" ng-click="addToWatchlist(data.movieDetail.basic.imdb_id)" data-imdb="{{ data.movieDetail.basic.imdb_id }}"><i class="fa fa-fw fa-plus-circle"></i>Add to watchlist</a></li>
                      <li><a class="link remove-item" href="javascript:void(0)" ng-cloak ng-hide="!data.movieDetail.watchlist" ng-click="removeFromWatchlist(data.movieDetail.basic.imdb_id)" data-imdb="{{ data.movieDetail.basic.imdb_id }}"><i class="fa fa-fw fa-minus-circle"></i>Remove from watchlist</a></li>
                      <li><a class="link add-item manage-lists" href="javascript:void(0)" ng-click="manageLists()"><i class="fa fa-fw fa-list-alt"></i>Add to a custom list</a></li>
                      <div id="userlists">
                          <span class="btn-close"><i class="fa fa-times"></i></span>
                          <span class="subtitle">Select a list:</span>
                          <ul>
                              <li ng-repeat="list in data.userLists" ng-switch="checkIfCurrentItemIsInList(list)">
                                  <a href="javascript:void(0)" ng-switch-when="false" ng-click="addItemToList(data.movieDetail.basic.imdb_id, list)"><i class="fa fa-fw fa-circle-o"></i> {{ list.name }}</a>
                                  <a href="javascript:void(0)" ng-switch-when="true" ng-click="addItemToList(data.movieDetail.basic.imdb_id, list)"><i class="fa fa-fw fa-check-circle"></i> {{ list.name }}</a>
                              </li>
                          </ul>
                      </div>
                  </ul>
              </div>
              <div ng-show="isUserLoggedIn()">
                  <span class="subtitle">Rating</span>
                  <div class="rating">
                      <div ng-init="rating = star.rating - 1"></div>
                      <div class="star-rating" star-rating rating-value="rating" data-max="10" on-rating-selected="toggleRating(data.movieDetail.basic.imdb_id, rating)" on-rating-hovered="previewRatingFunc(rating)"></div>
                      <span class="rating-preview" ng-if="previewRating > 0 || previewRating == 'Unrate'">{{ previewRating }}</span><br />
                      <span ng-if="rating > 0">You rated this a {{ rating }}</span>
                  </div>
              </div>
              <div ng-show="isUserLoggedIn()">
                  <span class="subtitle">Check-in</span>
                  <div class="checkin" ng-show="isUserLoggedIn()">
                      <a href="javascript:void(0)" class="cm-btn-small cm-btn-yellow" ng-click="checkInMovie(data.movieDetail.basic.imdb_id)">I'm watching this now</a>
                  </div>
              </div>
          </div>
        </div>
        <div class="cm-spinner" ng-hide="data.movieDetail.basic"><i class="fa fa-2x fa-cog fa-spin"></i><br />Fetching data...</div>
      </div>
    </div>
  </div>

  <script>
    $(function() {

        var modal = $("#modal");
        $('.modal-close').on('click', function() {
            modal.hide();
            $("body").removeClass("modal-open");
            $('.cm-userdropdown').removeClass('hidden');
        });

        // Show/hide custom lists windows
        var listsWindow = $('#userlists');
        $('.manage-lists').on('click', function(){
            listsWindow.show();
        });
        listsWindow.find('.btn-close').on('click', function(){
            listsWindow.hide();
        });

    });

  </script>
</div>