<div class="wrapper fade-in">
    <section class="movie-intro-wrapper">
        <div class="logo-wrapper">
            <a href="#/" class="logo" title="Go to homepage">
                <img src="assets/images/logo.png" alt="cinematic"/>
            </a>
        </div>
        <h1 class="page-title">Let's watch a <span class="special">movie</span></h1>
        <p class="page-description">Please select an option</p>
        <div class="choose-option">
            <a href="#movie/search" class="option search">
                <div class="copy">
                    <i class="fa fa-4x fa-search"></i>
                    <h2 class="title">Search</h2>
                    <p class="description">Try finding movies that are similar to your favorites</p>
                </div>
            </a>
            <a href="#movie/discover" class="option discover">
                <div class="copy">
                    <i class="fa fa-4x fa-flask"></i>
                    <h2 class="title">Discover</h2>
                    <p class="description">Play with various filters to achieve very specific results</p>
                </div>
            </a>
        </div>
    </section>
</div>
