.question-title{
    font-family: $oswald;
    text-transform: uppercase;
    font-weight: 400;
    color: $cm-darkgrey;
    margin-bottom: 1rem;
}
.question-instructions{
    font-family: $aller-italic;
    color: $cm-grey;
}

.filter{
    max-width: em(1000);
    margin-left: 0;
}

.intro-cards{
    .intro-card{
        @extend %no-select;
        cursor: default;
        @include span-columns(3 of 9);
        padding-top: 3rem;
        padding-bottom: 3rem;
        background: $cm-blue;
        @include linear-gradient(53deg, $cm-blue 20%, $cm-yellow);
        min-height: 500px;
        height: 50vh;
        max-height: 800px;
        border-radius: 3px;
        box-shadow: 0 2px 10px darken(#fff, 20%);
        text-align: center;
        position: relative;
        color: #fff;
        &:nth-of-type(2){
            @include linear-gradient(53deg, $cm-blue 20%, $cm-red);
        }
        &:nth-of-type(1){
            @include linear-gradient(53deg, $cm-red 20%, $cm-yellow);
        }

        .inner{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            padding: 0 2rem;

        }

        i.fa{
            margin-bottom: 3rem;
        }
        .title{
            color: #fff;
            margin-bottom: 3rem;
            font-size: 1.7rem;
        }
        .instructions{
            color: #fff;
            font-size: .9rem;
            font-family: 'Aller Italic', sans-serif;
        }
    }
}

#userlists{
    display: none;
    position: absolute;
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    border: 1px solid darken($cm-lightergrey,5%);
    max-height: 250px;
    width: auto;
    margin-bottom: 1rem;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: '▲';
        margin-top: -1rem;
        color: #fff;
        text-shadow: 0 -2px 2px silver;
    }
    .subtitle{
        margin-top: 0;
    }
    .btn-close{
        position: absolute;
        right: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
}