html,body{
    background: $cm-lightergrey;
    color: $cm-grey;
}

h1,h2,h3,h4,h5,h6{
    font-family: $oswald;
    font-weight: 400;
    text-transform: uppercase;
    color: $cm-darkgrey;
}

::selection{
    color: $cm-lightergrey;
    background: $cm-blue;
    text-shadow: 1px 1px 0 rgba(#000, 0.2);
}

.page-title{
    text-align: center;
    color: $cm-grey;
    margin-bottom: 3rem;
    .special{
        color: $cm-yellow;
    }
}

.page-description{
    text-align: center;
}

.empty-text{
    i.fa{
        margin-bottom: 2rem;
    }
    margin: 5rem 0;
    text-align: center;
    color: $cm-grey;

    i.fa + i.fa{
        margin-left: 1rem;
    }
}

.cm-spinner{
    text-align: center;
    margin: 4rem 0;
}

.cm-spinner.active{
    display: block;
}

// Animations
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in{
    opacity: 0;
    animation:fadeIn;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
    animation-duration:.2s;
}

.fade-in-long{
    opacity: 0;
    animation:fadeIn;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
    animation-duration:1s;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.cm-content-center{
    padding-top: 4rem;
    .logo-wrapper{
        margin: 0 0 4rem;
        a{
            display: block;
            width: 200px;
            height: auto;
            margin: 0 auto;
        }
    }
}

.cm-userdropdown {
    float: right;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 1rem;
}
.cm-userdropdown.hidden{
    z-index: -1;
}