.answers{
    @include outer-container(100%);
}

.multiple-choice{
    .active{
        @include linear-gradient(53deg, $cm-blue, $cm-yellow);
        transform: scale(0.98);
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
        transition: color .1s ease, transform .3s ease;
        border: none;
        &:hover{
            @include linear-gradient(53deg, $cm-blue, $cm-yellow);
        }
    }
}




/* GENRES */

.genres{
    @include row();
    li{
        border-radius: 3px;
        display: inline-block;
        padding: 10px 0;
        margin: 0 10px 10px 0;
        width: calc(25% - 10px);
        transition: background .2s ease;
        text-align: center;
        border: 3px solid #ccc;
        color: $cm-grey;
        @extend %no-select;
        &:hover{
            cursor: pointer;
            background: #e5e5e5;
        }
    }
    .btn-clear{
        margin-top: 20px;
    }
}

/* CAST & CREW */

.cast, .crew{
    margin-top: 1.5rem;
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    .person{
        @include flex-basis(25em);
        @include flex-grow(1);
        overflow: hidden;
        margin: 0 .5rem 1rem;
        height: 150px;
        background: #fff;
        border: 1px solid gainsboro;
        border-radius: 3px;
        box-shadow: 0 2px 4px darken(#fff, 10%);
        transition: all .2s ease;
        position: relative;
        &:hover{
            cursor: pointer;
            box-shadow: 0 2px 8px darken(#fff, 30%);
        }
    }
    .person.active{
        transform: scale(0.98);
        .name{
            color: $cm-yellow;
        }
        .checked{
            opacity: 1;
        }
        &:hover{
            box-shadow: 0 2px 4px darken(#fff, 10%);
        }
    }
    .checked{
        opacity: 0;
        position: absolute;
        top: 10px;
        right: 10px;
        color: $cm-yellow;
        transition: opacity .3s ease;
    }
    .portrait{
        display: block;
        width: auto;
        height: 100%;
        overflow: hidden;
        float: left;
        margin-right: 1rem;
        max-width: 100px;
        background: #ccc;
        min-width: 100px;
        img{
            height: 100%;
        }
    }
    .name{
        transition: color .2s ease;
        font-size: 1.5rem;
        font-family: $oswald;
        color: $cm-darkgrey;
        text-transform: uppercase;
    }
    .info{
        padding: 5px 0;
        .known-for{
            text-transform: uppercase;
            font-family: $oswald;
            color: $cm-lightgrey;
            font-size: .8rem;
            border-bottom: 1px solid $cm-lightgrey;
            margin-bottom: 5px;
            display: inline-block;
        }
        ul li{
            font-size: .8rem;
            font-family: $aller-italic;
            color: darken($cm-lightgrey,10%);
            &:before{
                content:"";
            }
        }
    }
}

.selected{
    //font-family: $oswald;
    text-transform: uppercase;
    .title{
        border-bottom: 1px solid $cm-lightgrey;
        color: $cm-lightgrey;
        margin-right: 1rem;
    }
}

.selectize-control.single{
    .selectize-input{
        font-family: $aller-italic;
    }
    .selectize-dropdown{
        font-family: $aller-italic;
    }
}


/* DURATION */
.slider-duration-wrapper,
.slider-rating-wrapper{
    max-width:600px;
}
#slider-duration{
    margin-bottom: 2rem;
}
.slider-duration-bg{
    margin-top: 1.5rem;
    ul{
        text-align: justify;
        li{
            font-style: italic;
            display: inline-block;
            width: 120px;
            font-size: .8rem;
            color: $cm-grey;
            text-align: center;
            &:before{
                font-style: normal;
                content:"|";
                position: absolute;
                top: -100%;
                display: block;
                width: 100%;
                height: 50%;
                overflow: hidden;
            }
            &:nth-of-type(1){
                transform: translateX(-36%);
            }
            &:nth-of-type(2){
                transform: translateX(-19%);
            }
            &:nth-of-type(3){
                transform: translateX(-1%);
            }
            &:nth-of-type(4){
                transform: translateX(17%);
            }
            &:last-of-type{
                transform: translateX(35%);
            }
        }
    }
}

.slider-rating-bg{
    margin-top: 1.5rem;
    ul{
        text-align: justify;
        li{
            font-style: italic;
            display: inline-block;
            width: 60px;
            font-size: .8rem;
            color: $cm-grey;
            text-align: center;
            &:before{
                font-style: normal;
                content:"|";
                position: absolute;
                top: -100%;
                display: block;
                width: 100%;
                height: 50%;
                overflow: hidden;
            }
            &:nth-of-type(1){
                transform: translateX(-23%);
            }
            &:nth-of-type(2){
                transform: translateX(-19%);
            }
            &:nth-of-type(3){
                transform: translateX(-14%);
            }
            &:nth-of-type(4){
                transform: translateX(-9%);
            }
            &:nth-of-type(5){
                transform: translateX(-4%);
            }
            &:nth-of-type(6){
                transform: translateX(-1%);
            }
            &:nth-of-type(7){
                transform: translateX(4%);
            }
            &:nth-of-type(8){
                transform: translateX(9%);
            }
            &:nth-of-type(9){
                transform: translateX(14%);
            }
            &:last-of-type{
                transform: translateX(19%);
            }
        }
    }
}
