html,body{
    height: 100%;
    width: 100%;
}

#main-wrapper{
  @include outer-container(100%);
}

.wrapper{
  @include outer-container();
}

.row{
  @include row();
}

.cm-content{
    @include shift(2.5);
    @include span-columns(9.5);
    @include pad();
    padding-top: 3rem;
    padding-bottom: 0;
}

.cm-content{
    .content-top{
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ddd;
    }
}