$base-spacing: 1.5em !default;
$error-color: #fbe3e4 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-family: $aller-bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  a {
    color: darken($color, 70%);

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.flash-error {
  @include flash($error-color);
}