<div class="cm-sidebar">
    <div class="logo-wrapper">
        <a href="#/" class="logo" title="Go to homepage">
            <img src="/assets/images/logo.png" alt="cinematic"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="link" ng-repeat="question in data.questions.movies" data-nr="{{question.nr}}" data-id="{{question.id}}" ng-click="getQuestion(question.nr, question.id)">
                <span class="title" ng-click="getQuestion(question.nr, question.id)">{{question.title}}</span>
                <label class="label-switch" ng-click="toggleQuestion(question.id, $event);">
                    <input type="checkbox" ng-checked="isToggled(question.id)" />
                    <div class="checkbox"></div>
                </label>
            </li>
            <li class="button">
                <button ng-click="getMovies()">Calculate <i class="fa fa-rocket"></i></button>
            </li>
        </ul>
    </nav>
</div>

<div class="cm-content discover-movie">

    <section class="cm-questions" ng-hide="data.results">

        <div class="content-top">
            <h1 class="question-title" ng-show="data.questionNo">{{ data.questions.movies[data.questionNo-1].question }}</h1>
            <span class="question-instructions">{{ data.questions.movies[data.questionNo-1].instructions }}</span>
        </div>

        <div class="content-bottom">

            <div class="answers" ng-switch="answerType">
                <div class="genres multiple-choice" ng-switch-when="multiple" ng-show="isToggled('genre')">
                    <ul>
                        <li data-id="{{result.id}}" ng-repeat="result in data.multipleResults" ng-click="addToSelection(result.id, result.name)">
                            <span class="inner-text">{{ result.name }}</span>
                        </li>
                    </ul>
                    <button class="cm-btn cm-btn-red btn-clear" ng-click="clearGenres()" ng-hide="!data.multipleSelection.length"><i class="fa fa-times fa-lg"></i> Clear</button>
                </div>
                <div class="slider slider-duration-wrapper" ng-switch-when="slider-duration" ng-show="isToggled('duration')">

                    <rzslider
                      rz-slider-model="data.answer"
                      rz-slider-floor="0"
                      rz-slider-ceil="data.questions.movies[data.questionNo-1].answers.length - 1"
                      rz-slider-hide-limit-labels="true"
                      rz-slider-always-show-bar="true"></rzslider>

                    <div class="slider-duration-bg">
                        <ul>
                            <li ng-repeat="value in data.questions.movies[data.questionNo-1].answers">
                                {{value.label}}
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="slider slider-rating-wrapper" ng-switch-when="slider-rating" ng-show="isToggled('rating')">

                    Rating: {{ data.answer / 10 }} or higher

                    <rzslider
                      rz-slider-model="data.answer"
                      rz-slider-floor="10"
                      rz-slider-ceil="100"
                      rz-slider-hide-limit-labels="true"
                      rz-slider-always-show-bar="true"></rzslider>

                    <div class="slider-rating-bg">
                        <ul>
                            <li ng-repeat="rating in data.ratings">
                                {{ rating / 10 }}
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="input" ng-switch-when="input_cast" ng-show="isToggled('cast')">
                    Selected: {{ data.selectedCast }}
                    <form class="search-bar" role="search" ng-submit="getPerson(inputCast)">
                        <input type="search" name="answer" placeholder="Enter Search" ng-model="inputCast" />
                        <button type="submit">
                            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                        </button>
                    </form>
                    <div class="cast" id="results_cast" class="row multiple-choice" ng-show="data.peopleSearchResults">
                        <span ng-hide="data.peopleSearchResults.results.length">No people found !</span>
                        <div class="person" ng-repeat="person in data.peopleSearchResults.results">
                            <div class="portrait">
                                <img ng-click="toggleCast(person.id, person.name)" ng-if="person.profile_path" src="https://image.tmdb.org/t/p/w150{{ person.profile_path }}" alt="">
                                <img ng-click="toggleCast(person.id, person.name)" ng-if="person.profile_path == null" src="http://dummyimage.com/150x220/ccc/ccc.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="name">{{ person.name }}</span>
                                <ul>
                                    <li ng-repeat="film in person.known_for">
                                        {{film.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select" ng-switch-when="select_year" ng-show="isToggled('year')">
                    <selectize placeholder='Select a year...' config="singleConfig" ng-model="data.answer"></selectize>
                </div>
                <div class="input" ng-switch-when="input_crew" ng-show="isToggled('crew')">
                    Selected: {{ data.selectedCrew }}
                    <form class="search-bar" role="search" ng-submit="getPerson(inputCrew)">
                        <input type="search" name="answer" placeholder="Enter Search" ng-model="inputCrew" />
                        <button type="submit">
                            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                        </button>
                    </form>
                    <div class="crew" id="results_crew" class="row multiple-choice" ng-show="data.peopleSearchResults">
                        <span ng-hide="data.peopleSearchResults.results.length">No people found !</span>
                        <div class="person" ng-repeat="person in data.peopleSearchResults.results">
                            <div class="portrait">
                                <img ng-click="toggleCrew(person.id, person.name)" ng-if="person.profile_path" src="https://image.tmdb.org/t/p/w150{{ person.profile_path }}" alt="">
                                <img ng-click="toggleCrew(person.id, person.name)" ng-if="person.profile_path == null" src="http://dummyimage.com/150x220/ccc/ccc.jpg" alt="">
                            </div>
                            <div class="info">
                                <span class="name">{{ person.name }}</span>
                                <ul>
                                    <li ng-repeat="film in person.known_for">
                                        {{film.title}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-default>
                    <p>Hi there!</p>
                    <p>So you want to watch a movie tonight, huh? Let's help you with that!</p>
                    <p>On the left, you'll find some useful filters for narrowing your search. Enable one or more and select your preferences for each. After you're all set and done, click on the big green button to show your results.</p>
                    <p>Have fun!</p>
                </div>
            </div>

        </div>
    </section>

    <section class="cm-results" ng-show="data.results">
        <div ng-hide="data.results.length">
        <h2>Oops! We couldn't find any movies matching your filters.</h2>
        <p>Try again, but don't be so strict ;)</p>
        </div>

        <div class="cards">
            <div class="card" ng-repeat="movie in data.results">
                <div class="card-image">
                    <img ng-if="movie.backdrop_path" src="https://image.tmdb.org/t/p/w780{{ movie.backdrop_path }}" alt="">
                </div>
                <div class="card-header">
                    {{ movie.title }}
                </div>
                <div class="card-copy">
                    <p>{{ movie.overview }}</p>
                </div>
            </div>
        </div>



    </section>
</div>