<div class="wrapper discover-movie">

    <nav>
        <ul>
            <li><a ng-click="getPrevQuestion()">Prev question</a></li>
            <li><a ng-click="getNextQuestion()">Next question</a></li>
        </ul>
    </nav><br />

    <h1>{{data.questionNo}}. {{ data.question.question }}</h1>

    <section class="answers" ng-switch="answerType">
        <div class="input" ng-switch-when="input">
            <input type="text" name="answer" id="answer" ng-model="data.answer" />
        </div>
        <div class="multiple-choice" ng-switch-when="multiple">
            <ul>
                <li ng-repeat="result in data.multipleResults" ng-click="addToSelection(result.id, result.name)">{{ result.name }}</li>
            </ul>
        </div>
        <div class="slider" ng-switch-when="slider-duration">
            <input id="slider-duration" ng-model="data.answer" value="{{data.answer}}" ng-change="saveDuration(data.answer)" type="range" min="0" max="{{ data.questions.movies[data.questionNo-1].answers.length - 1 }}" step="1" />
            {{data.answer}}
        </div>
        <div ng-switch-default>
            <p>Something went wrong!</p>
        </div>
    </section>

    <!--<div class="left">
    <form class="search-bar" role="search">
        <input type="text" ng-model="searchPeopleInput" placeholder="Who are you looking for?" />
        <button type="submit" ng-click="getPerson(searchPeopleInput)">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
    </form>


        <div id="results_people" class="row" ng-show="peopleSearchResults">
            <h3>Results</h3>

            <p ng-if="peopleSearchResults.results.length">{{ peopleSearchResults.total_results }} result(s) found!</p>
            <span ng-hide="peopleSearchResults.results.length">No people found !</span>
            <div class="person" ng-repeat="person in peopleSearchResults.results">
                {{ person.name }} <br />
                <img ng-click="togglePeople(person.id, person.name)" ng-if="person.profile_path" src="https://image.tmdb.org/t/p/w150{{ person.profile_path }}" alt="">
                <img ng-click="togglePeople(person.id, person.name)" ng-if="person.profile_path == null" src="http://dummyimage.com/150x220/ccc/ccc.jpg" alt="">
            </div>
            <br>
        </div>
    </div>

    <div class="right">

        <button ng-click="getMovies()">Search Movies</button>

        <div id="results" ng-show="results">
            <h3>Movies</h3>
            <span ng-hide="results.length">No movies found !</span>
            <div ng-repeat="movie in results">
                {{ movie.title }}
            </div>
            <br>
        </div>

    </div> -->
</div>