<div class="intro-wrapper fade-in">
    <section class="above-the-fold">
        <header class="header">
            <h1 class="logo"><span class="hidden">cinematic</span></h1>
            <span class="slogan">what's worth watching tonight</span>
            <span class="explanation">Discover new movies <br />&amp; tv-shows with our platform</span>
        </header>
        <div class="call-to-action">
            <a href scroll-to="below-the-fold" duration="800" easing="easeInOutQuad" class="action">
                <span>Let's begin</span><br />
                <img src="/assets/images/arrow-down.png" alt=""/>
            </a>
        </div>
    </section>

    <section id="below-the-fold" class="below-the-fold">
        <header class="header">
            <h2>What do you want to watch?</h2>
        </header>
        <div class="choose-format">
            <a href="#movie/discover" class="movies image-gradient-dynamic" ng-init="getSomePopularMovie()">
                <img src="https://image.tmdb.org/t/p/w780{{ movie.backdrop_path }}" alt="">
                <div class="overlay"></div>
                <div class="copy">Movies</div>
            </a>
            <a href="javascript:void(0)" class="tv-shows image-gradient-dynamic" ng-init="getSomePopularTvShow()">
                <img src="https://image.tmdb.org/t/p/w780{{ tvshow.backdrop_path }}" alt="">
                <div class="overlay"></div>
                <div class="copy">TV</div>
            </a>
        </div>
    </section>
</div>
