<!--<div id="main-wrapper">
    <h1>cinematic</h1>

    <ul class="default">
        <li><a href="/">Home</a></li>
        <li><a href="#search">Search</a></li>
    </ul>
    <hr>
</div>-->

<div class="intro-wrapper">
    <section class="above-the-fold">
        <header class="header">
            <h1 class="logo"><span class="hidden">cinematic</span></h1>
            <span class="slogan">what's worth watching tonight</span>
            <span class="explanation">Discover new movies <br />&amp; tv-shows with our platform</span>
        </header>
        <div class="call-to-action">
            <a href scroll-to="below" duration="800" easing="easeInOutQuad" class="action">
                <span>Let's begin</span><br />
                <i class="fa fa-2x fa-chevron-down"></i>
            </a>
        </div>
    </section>

    <section id="below" class="below-the-fold">
        <header class="header">
            <h2>What do you want to watch?</h2>
        </header>
        <div class="choose-format">
            <a href="" class="movies image-gradient-dynamic" ng-init="getSomePopularMovie()">
                <img src="https://image.tmdb.org/t/p/w780{{ movie.backdrop_path }}" alt="">
                <div class="overlay"></div>
                <div class="copy"><span>Movies</span></div>
            </a>
            <a href="" class="tv-shows image-gradient-dynamic" ng-init="getSomePopularTvShow()">
                <img src="https://image.tmdb.org/t/p/w780{{ tvshow.backdrop_path }}" alt="">
                <div class="overlay"></div>
                <div class="copy"><span>TV shows</span></div>
            </a>
        </div>
    </section>
</div>
