<div class="cm-sidebar fade-in">
    <div class="logo-wrapper">
        <a href="#/" class="logo" title="Go to homepage">
            <img src="/assets/images/logo.png" alt="cinematic"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="link" ng-repeat="question in data.questions.movies" data-nr="{{question.nr}}" data-id="{{question.id}}" ng-click="getQuestion(question.nr, question.id)" ng-class="{ 'active': activeFilter(question.id) }">
                <span class="title">{{question.title}}</span>
                <label class="label-switch" ng-click="toggleQuestion(question.id, $event);">
                    <input type="checkbox" ng-checked="isToggled(question.id)" />
                    <div class="checkbox"></div>
                </label>
            </li>
            <li class="link clear" ng-click="clearFilters()">
                <span class="title">Clear all filters</span>
                <i class="fa fa-lg fa-close"></i>
            </li>
            <li class="button">
                <button ng-click="getMovies()">Calculate <i class="fa fa-rocket"></i></button>
            </li>
        </ul>
    </nav>
</div>

<div class="cm-content discover-movie fade-in">

    <section class="cm-questions" ng-hide="data.results && !searching">

        <div class="content-top">
            <h1 class="question-title" ng-hide="data.questionNo">Instructions</h1>
            <span ng-hide="data.questionNo" class="question-instructions">So you want to watch a movie, huh? Let's help you with that...</span>

            <h1 class="question-title" ng-show="data.questionNo">{{ data.questions.movies[data.questionNo-1].question }}</h1>
            <span class="question-instructions">{{ data.questions.movies[data.questionNo-1].instructions }}</span>
        </div>

        <div class="content-bottom">

            <div class="answers" ng-switch="answerType">
                <div class="filter genres multiple-choice" ng-switch-when="multiple">
                    <div class="empty-text" ng-hide="isToggled('genre')">
                        <i class="fa fa-4x fa-toggle-off"></i>
                        <i class="fa fa-4x fa-long-arrow-right"></i>
                        <i class="fa fa-4x fa-toggle-on"></i>
                        <p>This filter is currently not enabled.</p>
                        <p>Enable it in the sidebar if you want to configure this filter</p>
                    </div>

                    <div class="inner" ng-show="isToggled('genre')">
                        <ul>
                            <li data-id="{{result.id}}" ng-repeat="result in data.multipleResults" ng-click="addToSelection(result.id, result.name)" ng-class="{active: checkGenreDoubles(result.id) !== false}">
                                <span class="inner-text">{{ result.name }}</span>
                            </li>
                        </ul>
                        <button class="cm-btn cm-btn-red btn-clear" ng-click="clearGenres()" ng-hide="!data.multipleSelection.length"><i class="fa fa-times fa-lg"></i> Clear</button>
                    </div>
                </div>
                <div class="filter slider slider-duration-wrapper" ng-switch-when="slider-duration">
                    <!--<div class="inner" ng-show="isToggled('duration')">
                        <rzslider
                          rz-slider-model="data.answer"
                          rz-slider-floor="0"
                          rz-slider-ceil="data.questions.movies[data.questionNo-1].answers.length - 1"
                          rz-slider-hide-limit-labels="true"
                          rz-slider-always-show-bar="true"></rzslider>

                        <div class="slider-duration-bg">
                            <ul>
                                <li ng-repeat="value in data.questions.movies[data.questionNo-1].answers">
                                    {{value.label}}
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <p>Sorry, this feature isn't available yet.</p>
                </div>
                <div class="filter slider slider-rating-wrapper" ng-switch-when="slider-rating">
                    <div class="empty-text" ng-hide="isToggled('rating')">
                        <i class="fa fa-4x fa-toggle-off"></i>
                        <i class="fa fa-4x fa-long-arrow-right"></i>
                        <i class="fa fa-4x fa-toggle-on"></i>
                        <p>This filter is currently not enabled.</p>
                        <p>Enable it in the sidebar if you want to configure this filter</p>
                    </div>

                    <div class="inner" ng-show="isToggled('rating')">
                        Rating: {{ data.answer / 10 }} or higher

                        <rzslider
                          rz-slider-model="data.answer"
                          rz-slider-floor="10"
                          rz-slider-ceil="100"
                          rz-slider-hide-limit-labels="true"
                          rz-slider-always-show-bar="true"></rzslider>

                        <div class="slider-rating-bg">
                            <ul>
                                <li ng-repeat="rating in data.ratings">
                                    {{ rating / 10 }}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="filter input" ng-switch-when="input_cast">
                    <div class="empty-text" ng-hide="isToggled('cast')">
                        <i class="fa fa-4x fa-toggle-off"></i>
                        <i class="fa fa-4x fa-long-arrow-right"></i>
                        <i class="fa fa-4x fa-toggle-on"></i>
                        <p>This filter is currently not enabled.</p>
                        <p>Enable it in the sidebar if you want to configure this filter</p>
                    </div>
                    <div class="inner" ng-show="isToggled('cast')">
                        <p class="selected"><span class="title">Selected:</span> {{ getCast() }} </p>
                        <form class="search-bar" role="search" ng-submit="getPerson(inputCast)">
                            <input type="search" name="answer" placeholder="Search for an actor/actress" ng-model="inputCast" />
                            <button type="submit">
                                <i class="fa" ng-class="searchingPeople ? 'fa-cog fa-spin' : 'fa-search'"></i>
                            </button>
                        </form>
                    </div>
                    <div class="cast" id="results_cast" class="row multiple-choice" ng-show="data.peopleSearchResults">
                        <span ng-hide="data.peopleSearchResults.results.length">No people found with that name! Are you sure you typed it right?</span>

                        <div class="person" ng-repeat="person in data.peopleSearchResults.results" data-id="{{person.id}}" ng-click="toggleCast(person.id, person.name)" ng-class="{active: checkCastDoubles(person.id)}">
                            <div class="portrait">
                                <img ng-if="person.profile_path" ng-src="https://image.tmdb.org/t/p/w150{{ person.profile_path }}" alt="">
                            </div>
                            <div class="info">
                                <span class="name">{{ person.name }}</span>
                                <ul ng-if="person.known_for.length"><span class="known-for">Known For:</span>
                                    <li ng-repeat="film in person.known_for" ng-if="film.title.length">
                                        <i class="fa fa-angle-right"></i> {{film.title}}
                                    </li>
                                </ul>
                            </div>
                            <div class="checked">
                                <i class="fa fa-lg fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter select" ng-switch-when="select_year">
                    <div class="empty-text" ng-hide="isToggled('year')">
                        <i class="fa fa-4x fa-toggle-off"></i>
                        <i class="fa fa-4x fa-long-arrow-right"></i>
                        <i class="fa fa-4x fa-toggle-on"></i>
                        <p>This filter is currently not enabled.</p>
                        <p>Enable it in the sidebar if you want to configure this filter</p>
                    </div>
                    <div class="inner" ng-show="isToggled('year')">
                        <p>Select all movies that were released between {{ startYear }} and...
                        <selectize placeholder='Select a year...' config="singleConfig" ng-model="data.answer"></selectize></p>
                    </div>
                </div>
                <div class="filter input" ng-switch-when="input_crew">
                    <div class="empty-text" ng-hide="isToggled('crew')">
                        <i class="fa fa-4x fa-toggle-off"></i>
                        <i class="fa fa-4x fa-long-arrow-right"></i>
                        <i class="fa fa-4x fa-toggle-on"></i>
                        <p>This filter is currently not enabled.</p>
                        <p>Enable it in the sidebar if you want to configure this filter</p>
                    </div>
                    <div class="inner" ng-show="isToggled('crew')">
                        <p class="selected"><span class="title">Selected:</span> {{ getCrew() }} </p>
                        <form class="search-bar" role="search" ng-submit="getPerson(inputCrew)">
                            <input type="search" name="answer" placeholder="Enter Search" ng-model="inputCrew" />
                            <button type="submit">
                                <i class="fa" ng-class="searchingPeople ? 'fa-cog fa-spin' : 'fa-search'"></i>
                            </button>
                        </form>
                        <div class="crew" id="results_crew" class="row multiple-choice" ng-show="data.peopleSearchResults">
                            <span ng-hide="data.peopleSearchResults.results.length">No people found !</span>
                            <div class="person" ng-repeat="person in data.peopleSearchResults.results" data-id="{{person.id}}" ng-click="toggleCrew(person.id, person.name)" ng-class="{active: checkCrewDoubles(person.id)}">
                                <div class="portrait">
                                    <img ng-if="person.profile_path" ng-src="https://image.tmdb.org/t/p/w150{{ person.profile_path }}" alt="">
                                </div>
                                <div class="info">
                                    <span class="name">{{ person.name }}</span>
                                    <ul ng-if="person.known_for.length"><span class="known-for">Known For:</span>
                                        <li ng-repeat="film in person.known_for" ng-if="film.title.length">
                                            <i class="fa fa-angle-right"></i> {{film.title}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="checked">
                                    <i class="fa fa-lg fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="intro-cards">
                        <div class="intro-card">
                            <div class="inner">
                                <i class="fa fa-4x fa-sliders"></i>
                                <h2 class="title">Set filters</h2>
                                <p class="instructions">On the left, you'll find some optional filters for narrowing your search. Try enabling some and select your preferences.</p>
                            </div>
                        </div>
                        <div class="intro-card">
                            <div class="inner">
                                <i class="fa fa-4x fa-gears"></i>
                                <h2 class="title">Calculate results</h2>
                                <p class="instructions">After you're all set and done, click on the big green button to calculate your results.</p>
                            </div>
                        </div>
                        <div class="intro-card">
                            <div class="inner">
                                <i class="fa fa-4x fa-smile-o"></i>
                                <h2 class="title">Enjoy</h2>
                                <p class="instructions">Pick a movie and start watching.<br />Have fun!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="cm-results" ng-show="data.results">
        <div class="content-top">
            <h1 class="question-title">Results</h1>
            <span class="question-instructions">These are the most popular results, based on your preferences</span>
        </div>
        <div class="empty-text fade-in" ng-show="data.results.length == 0">
            <i class="fa fa-4x fa-frown-o"></i>
            <p>Oops! We couldn't find any movies matching your filters.</p>
            <p>Try again, but don't be so strict ;)</p>
        </div>

        <div class="cm-spinner fade-in" ng-show="searching"><i class="fa fa-2x fa-cog fa-spin"></i><br />Fetching data...</div>

        <div class="cards fade-in" ng-show="data.results">
            <div class="card" ng-repeat="movie in data.results">
                <div class="card-image">
                    <img ng-if="movie.backdrop_path" ng-src="https://image.tmdb.org/t/p/w780{{ movie.backdrop_path }}" alt="">
                </div>
                <div class="card-header">
                    <div ng-click="getMovieDetail(movie.id)">
                        <div class="card-header-left">
                            <h4 class="movie-title">{{ movie.title }}</h4>
                            <ul class="metadata">
                                <li class="metadata-single"><span class="title">Score</span> {{ movie.vote_average }}</li>
                                <li class="metadata-single"><span class="title">Year</span> {{ movie.release_date | limitTo:4 }}</li>
                            </ul>
                        </div>
                        <div class="card-header-right">
                            <div class="cm-btn-small">Details <i class="fa fa-lg fa-search-plus"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-copy">
                    <p>{{ movie.overview }}</p>
                    <p ng-hide="movie.overview">No synopsis available</p>
                </div>
        </div>
        </div>
    </section>


    <div id="modal" class="modal fade-in">
        <div class="modal-fade-screen">
            <div class="modal-inner movie-detail">
                <div class="modal-close" for="modal"></div>
                <div class="details" ng-show="data.movieDetail.basic" ng-cloak>
                    <h2 class="title">{{ data.movieDetail.basic.title }}</h2>
                    <ul class="metadata">
                        <li class="metadata-single"><span class="title">Score</span> {{ data.movieDetail.basic.vote_average }}</li>
                        <li class="metadata-single"><span class="title">Year</span> {{ data.movieDetail.basic.release_date | limitTo:4 }}</li>
                        <li class="metadata-single"><span class="title">Runtime</span> {{ data.movieDetail.basic.runtime }} minutes</li>
                        <li class="metadata-single"><span class="title">Genres</span> <span class="genre" ng-repeat="genre in data.movieDetail.basic.genres">{{ genre.name }}</span></li>
                    </ul>
                    <div class="details-left">
                        <img class="poster" ng-if="data.movieDetail.basic.poster_path" ng-src="https://image.tmdb.org/t/p/w300{{ data.movieDetail.basic.poster_path }}" alt="{{ data.movieDetail.basic.title }}">
                    </div>
                    <div class="details-right">
                        <h5 class="tagline">{{ data.movieDetail.basic.tagline }}</h5>
                        <p class="synopsis"> {{ data.movieDetail.basic.overview }}</p>
                        <p ng-hide="data.movieDetail.basic.overview">No synopsis available</p>
                        <span class="subtitle">Cast</span>
                        <ul class="actors">
                            <li class="actor" ng-repeat="actor in data.movieDetail.credits.cast | limitTo:4">
                                <div class="image">
                                    <img ng-if="actor.profile_path" ng-src="https://image.tmdb.org/t/p/w45{{ actor.profile_path }}" alt="{{ actor.name }}">
                                </div>
                                <div class="name-wrapper">
                                    <span class="name">{{ actor.name }}</span> <br />
                                    as {{ actor.character }}
                                </div>
                            </li>
                        </ul>
                        <span class="subtitle">Links</span>
                        <ul class="links">
                            <li ng-if="data.movieDetail.trailers.youtube.length"><a href="https://www.youtube.com/watch?v={{ data.movieDetail.trailers.youtube[0].source }}" target="_blank"><i class="fa fa-youtube-play"></i> Trailer</a></li>
                            <li><a href="http://www.imdb.com/title/{{ data.movieDetail.basic.imdb_id }}" target="_blank"><i class="fa fa-external-link"></i> IMDB</a></li>
                            <li><a href="#" ng-hide="data.movieDetail.watchlist" ng-click="addToWatchlist(data.movieDetail.basic.imdb_id)" data-imdb="{{ data.movieDetail.basic.imdb_id }}"><i class="fa fa-plus-circle"></i>Add to watchlist</a></li>
                            <!--<li><a href="#" ng-click="removeFromWatchlist(data.movieDetail.basic.imdb_id)" data-imdb="{{ data.movieDetail.basic.imdb_id }}"><i class="fa fa-minus-circle"></i>Remove from watchlist</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="cm-spinner" ng-hide="data.movieDetail.basic"><i class="fa fa-2x fa-cog fa-spin"></i><br />Fetching data...</div>
                <div class="backdrop" ng-if="data.movieDetail.basic.backdrop_path" style="background: url('https://image.tmdb.org/t/p/w1000{{ data.movieDetail.basic.backdrop_path }}') no-repeat center center; background-size: cover;"></div>
            </div>
        </div>
    </div>

    <script>
        $(function() {

            var modal = $("#modal");

            $('.modal-close').on('click', function() {
                modal.hide();
                $("body").removeClass("modal-open");
            });

            $(".modal-inner").on("click", function(e) {
                e.stopPropagation();
            });

        });

    </script>


</div>